html #root {
  margin: 0;
  font-family: $font-family;

  .container {
    padding: 80px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  //grid
  .column {
    &.full {
      min-width: 100%;
      max-width: 100%;
    }
    &.one-half {
      min-width: calc(100% / 2 - 10px);
      max-width: calc(100% / 2 - 10px);
    }
    &.one-third {
      min-width: calc(100% / 3 - 10px);
      max-width: calc(100% / 3 - 10px);
    }
  }

  //images
  .column.image {
    &.right {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
  .image-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  //button styling

  .button-wrap {
    .button {
      text-decoration: none;
      padding: 10px 15px;
      .button-title {
        font-weight: 600;
        font-size: 16px;
      }

      &.background-secondary {
        background-color: $secondary;
        .button-title {
          color: white;
        }
      }
      &.background-gray {
        background-color: $text;
        .button-title {
          color: white;
        }
      }
      &.background-tertairy {
        background-color: $tertairy;
        .button-title {
          color: white;
        }
      }

      &.ghost {
        .button-title {
          border-bottom: 2px solid $text;
        }
      }
      &.background-red {
        background-color: red;
        .button-title {
          color: white;
          border-bottom: 2px solid white;
        }
      }
      &.borderd {
        border: 1px solid $text;
      }
      .button-title {
        text-decoration: none;
        color: black;
      }
    }
  }

  //genaral

  input {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px 10px 25px;
    background: transparent;
    border: none;
    color: $text;

    &[type=file] {
      border: none !important;
      padding: 30px 0;
    }

    &[type=submit] {
      background: $secondary;
      font-weight: 600;
      color: white;
      text-transform: capitalize;
      margin: 20px 0 0 auto;
      border-radius: 3px;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 600;
      color: $text;
    }
  }
  textarea {
    padding: 29px 25px 10px 25px;
    font-family: $font-family;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    color: $text;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: $text;
    }

  }

  .menu-item {
    font-size: 18px;
    font-weight: 500;
    padding: 0 5px;
    color: white;
    text-decoration: none;
    &.button {
      color: white;
      padding: 10px 15px;
      background: $text;
    }
  }

  p {
    margin: 0;
  }
  .heading {
    min-width: 100%;
  }
  .grid-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}