html #root {
  .section.form {
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 50px;
      width: 100%;
      background-color: #f2f2f2;
      border-radius: 15px;

      .file-upload{
        border: none!important;
      }
      .error{
        font-size: 16px;
        position: absolute;
        color: red;
        font-weight: 600;
      }
      li {
        list-style: none;
        font-size: 16px;
        strong {
          font-weight: 600;
          border-bottom: 2px solid $primary;
        }
      }
      .heading {
        text-transform: capitalize;
        color: $text;
      }
      .title {
        min-width: calc(100% / 2 - 10px);
        max-width: calc(100% / 2 - 10px);
        display: inline-block;
        font-weight: 600;
        &.one-third {
          min-width: calc(100% / 3 - 10px);
          max-width: calc(100% / 3 - 10px);
        }
      }
      .field {
        margin: 10px 0;
        border: 2px solid $text;
        border-radius: 3px;
      }
      .one-half {
        min-width: calc(100% / 2 - 10px);
        max-width: calc(100% / 2 - 10px);
      }
    }
  }
}