html #root {
  #header {
    background-color: $tertairy;
    .container {
      padding: 0 10%;
    }
    .menu-container {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
    }
    .logo-container {
      margin: 20px 0;
    }
    .main-menu-container {
      margin: auto 0 auto auto;
    }

  }
}
