html #root {
  background: red;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html #root .container {
  padding: 80px 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

html #root .column.full {
  min-width: 100%;
  max-width: 100%;
}

html #root .column.one-half {
  min-width: calc(100% / 2 - 10px);
  max-width: calc(100% / 2 - 10px);
}

html #root .column.one-third {
  min-width: calc(100% / 3 - 10px);
  max-width: calc(100% / 3 - 10px);
}

html #root .column.image.right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

html #root .image-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

html #root .button-wrap .button {
  text-decoration: none;
  padding: 10px 15px;
}

html #root .button-wrap .button .button-title {
  font-weight: 600;
  font-size: 16px;
}

html #root .button-wrap .button.background-secondary {
  background-color: #0072ce;
}

html #root .button-wrap .button.background-secondary .button-title {
  color: white;
}

html #root .button-wrap .button.background-gray {
  background-color: #363636;
}

html #root .button-wrap .button.background-gray .button-title {
  color: white;
}

html #root .button-wrap .button.background-tertairy {
  background-color: #003791;
}

html #root .button-wrap .button.background-tertairy .button-title {
  color: white;
}

html #root .button-wrap .button.ghost .button-title {
  border-bottom: 2px solid #363636;
}

html #root .button-wrap .button.background-red {
  background-color: red;
  color: white;
  border: none;
}

html #root .button-wrap .button.background-red .button-title {
  color: white;
  border-bottom: 2px solid white;
}

html #root .button-wrap .button.borderd {
  border: 1px solid #363636;
}

html #root .button-wrap .button .button-title {
  text-decoration: none;
  color: black;
}

html #root form {
  margin: 0;
}

html #root form button {
  cursor: pointer;
}

html #root input {
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: none;
  color: #363636;
  padding: 10px 30px;
}

html #root input[type=file] {
  border: none !important;
  padding: 30px 0;
}

html #root input[type=submit] {
  background: #0072ce;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  margin: 20px 0 0 auto;
  border-radius: 3px;
}

html #root input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

html #root input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

html #root input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

html #root textarea {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  color: #363636;
  padding: 25px 30px 0;
}

html #root textarea::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

html #root textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

html #root textarea::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

html #root .menu-item {
  font-size: 18px;
  font-weight: 500;
  padding: 0 5px;
  color: white;
  text-decoration: none;
}

html #root .menu-item.button {
  color: white;
  padding: 10px 15px;
  background: #363636;
}

html #root p {
  margin: 0;
}

html #root .heading {
  min-width: 100%;
}

html #root .grid-container {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

html #root #header {
  background-color: #003791;
}

html #root #header .container {
  padding: 0 10%;
}

html #root #header .menu-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

html #root #header .logo-container {
  margin: 20px 0;
}

html #root #header .main-menu-container {
  margin: auto 0 auto auto;
}

html #root #header .main-menu-container .dropdown-menu {
  padding: 10px;
  display: inline-block;
  background: #0072ce;
}

html #root #header .main-menu-container .dropdown-menu #logout-form {
  margin: 0;
}

html #root .footer {
  background-color: #0072ce;
}

html #root .footer .container .main-menu-container {
  margin: auto 0;
}

html #root .socket {
  background-color: #003791;
}

html #root .socket .container {
  padding: 10px 0;
}

html #root .socket .container p {
  margin: 0 auto;
  color: white;
}

html #root .section.form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 50px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 15px;
}

html #root .section.form form li {
  list-style: none;
  font-size: 16px;
}

html #root .section.form form li strong {
  font-weight: 600;
  border-bottom: 2px solid #74747474;
}

html #root .section.form form .heading {
  text-transform: capitalize;
  color: #363636;
}

html #root .section.form form .title {
  min-width: calc(100% / 2 - 10px);
  max-width: calc(100% / 2 - 10px);
  display: inline-block;
  font-weight: 600;
}

html #root .section.form form .title.one-third {
  min-width: calc(100% / 3 - 10px);
  max-width: calc(100% / 3 - 10px);
}

html #root .section.form form .field {
  margin: 10px 0;
  border: 2px solid #363636;
  border-radius: 3px;
}

html #root .section.form form .one-half {
  min-width: calc(100% / 2 - 10px);
  max-width: calc(100% / 2 - 10px);
}

html #root .section.login-succes .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html #root .section.login-succes .container .heading {
  text-align: center;
}

html #root .section.form .title.full {
  min-width: 100%;
  max-width: 100%;
}

html #root .section.form .full {
  min-width: 100%;
  max-width: 100%;
}

html #root .section.form .button {
  margin: 0 0 0 auto;
  background: #0072ce;
  color: white;
  border: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 3px;
}

html #root .header {
  position: relative;
}

html #root .header:before {
  content: "";
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

html #root .header .heading {
  position: relative;
  color: white;
}

html #root .posts .button-row {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

html #root .posts .button-row .button-wrap {
  min-width: calc(100% / 2) !important;
  max-width: calc(100% / 2) !important;
}

html #root .car-overview .one-third,
html #root .posts .one-third {
  overflow: hidden;
  position: relative;
}

html #root .car-overview .one-third:hover .owner,
html #root .car-overview .one-third:hover .brand,
html #root .posts .one-third:hover .owner,
html #root .posts .one-third:hover .brand {
  opacity: 1;
}

html #root .car-overview .one-third .owner,
html #root .posts .one-third .owner {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  bottom: 60px;
  left: 40px;
  color: white;
  opacity: 0;
  transition: 0.4s ease;
}

html #root .car-overview .one-third .brand,
html #root .posts .one-third .brand {
  position: absolute;
  right: 40px;
  bottom: 60px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: 0.4s ease;
}

html #root .car-overview .one-third .image-container img,
html #root .posts .one-third .image-container img {
  width: 100%;
}

html #root .car-overview .one-third .button-wrap,
html #root .posts .one-third .button-wrap {
  min-width: 100%;
}

html #root .car-overview .one-third .button-wrap .button,
html #root .posts .one-third .button-wrap .button {
  min-width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
}

html #root .car-overview .one-third .button-wrap .button-title,
html #root .posts .one-third .button-wrap .button-title {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

html #root .users {
  background-color: #0072ce;
}

html #root .users .full .user {
  margin: 10px 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

html #root .users .full .user .username {
  font-size: 16px;
  font-weight: 600;
}

html #root .users .full .button-row {
  display: flex;
  flex-wrap: wrap;
}

html #root .admin-navigation {
  background-color: #363636;
}

html #root .admin-navigation .heading {
  text-align: center;
  color: white;
}

html #root .admin-navigation .container {
  display: block;
}

html #root .admin-navigation .container .button-wrap {
  text-align: center;
  margin: 30px 0;
}

html #root .reactions .full {
  min-width: inherit;
  width: 100%;
  margin: 10px 0;
  background: #003791;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

html #root .reactions .full:nth-child(3) {
  padding: 25px;
}

html #root .reactions .full .reaction {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

html #root .reactions .full .username {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

html #root .reactions .full textarea {
  background: #0072ce;
  min-width: 100%;
  max-width: 100%;
  color: white !important;
}

html #root .filter {
  background-color: #363636;
}

html #root .filter .heading {
  color: white;
}

html #root .filter .filter .brands .brand {
  color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
}

html #root .filter .filter .brands .brand:nth-child(1) {
  margin-left: 0;
}

html #root .filter .filter .brands .brand:nth-child(odd) {
  background-color: #0072ce;
}

html #root .filter .filter .brands .brand:nth-child(even) {
  background-color: #003791;
}

