html #root {
  .posts{
    .button-row{
      min-width: 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      .button-wrap{
        min-width: calc(100% / 2) !important;
        max-width: calc(100% / 2) !important;

      }
    }
  }
  .car-overview,
  .posts{
    .one-third {
      margin: 10px 0;
      overflow: hidden;
      position: relative;
      &:hover{
        .owner,
        .brand{
          opacity: 1;
        }
      }
      form{
        position: absolute;
        right: 10px;
        top: 10px;
        button{
          font-size: 10px;
          text-transform: uppercase;
          padding: 10px!important;
          border-radius: 5px;

        }
      }
      .owner{
        position: absolute;
        font-size: 20px;
        font-weight: 600;
        bottom: 60px;
        left: 40px;
        color: white;
        opacity: 0;
        transition: 0.4s ease;
        text-shadow: 2px 2px black;

      }
      .brand{
        position: absolute;
        right: 40px;
        bottom: 60px;
        color: white;
        text-shadow: 2px 2px black;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        transition: 0.4s ease;
      }
      .image-container img{
        width: 100%;
      }

      .button-wrap {
        min-width: 100%;
        &.like {
          position: absolute;
          bottom: 0;
        }
        .button {
          min-width: 100%;
          padding: 10px 0;
          display: block;
          text-align: center;
        }
        .button-title{
          color: white;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}