html #root {

  .reactions {
    .full {
      min-width: inherit;
      width: 100%;
      margin: 10px 0;
      border-radius: 3px;
      display: flex;
      flex-wrap: wrap;
      &.comment {
        padding: 25px;
        background: $tertairy;
        form{
          margin: 0 0 0 auto;
        }
        .user {
          justify-content: space-between;
        }
      }

      .reaction {
        font-size: 18px;
        font-weight: 500;
        color: white;
        display: inline-block;
      }

      .time {
        font-size: 16px;
        color: white;
      }
      .username {
        font-size: 18px;
        font-weight: 600;
        color: white;
        margin: 0 10px 0 0;
      }
      textarea {
        background: $secondary;
        min-width: 100%;
        max-width: 100%;
        color: white !important;

      }
    }
  }
}